@font-face {
  font-family: 'iconfont'; /* Project id 3432570 */
  src: url('iconfont.woff2?t=1658288676918') format('woff2'),
    url('iconfont.woff?t=1658288676918') format('woff'),
    url('iconfont.ttf?t=1658288676918') format('truetype');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiajianzujianjiahao:before {
  content: '\e64d';
}

.icon-search:before {
  content: '\e7b3';
}

.icon-xiayiyeqianjinchakangengduo-yuankuang:before {
  content: '\e8f0';
}

.icon-gouwuchekong:before {
  content: '\e600';
}

.icon-zhaoxiangji:before {
  content: '\e6ae';
}

.icon-youjiantou:before {
  content: '\e619';
}
