
header {
  /* height: 30px; */
  background: #fff;
  line-height: 30px;
  border: 1px solid #ddd;

}

.top {
  border: 1px solid #ddd;
  background-color: #e3e4e5;
}

.top-head img {
  width: 20px;
  height: 25px;
  vertical-align: top;
  padding-top: 5px;

}

.top-head {
  display: flex;
  justify-content: space-between;
  width: 1190px;
  height: 30px;
  background-color: #e3e4e5;
  margin: 0 auto;
}

.icon {
  width: 803px;
  display: flex;
  justify-content: space-between;
}

.icon>li:not(li:last-child)::after,
.line-item::after {
  content: '|';
  color: #ccc;
  font-family: sans-serif;
  margin: 10px 5px;
}

.top-head li {
  display: inline-block;

}

.top-head li>a {
  color: #999;


}

.middle {
  width: 1190px;
  padding-top: 20px;

  display: flex;

  justify-content: space-between;

  margin: 0 auto;

}

.logo {
  width: 190px;
  height: 120px;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.1/assets/sprite/header/sprite@2x.png);
  background-repeat: no-repeat;
  background-size: 190px;
  /* margin: 40px; */
}

.search {
  width: 546px;
  height: 32px;

  border: 2px solid #e22312;
  position: relative;
  /* box-sizing: border-box; */


}

.search input {
  width: 488px;
  height: 28px;
  border: #e22312;
}

.search .list li {
  display: inline-block;
  color: #999;

}

.list li:hover {
  color: #e1251b;
}

.search>i {
  height: 32px;
}

.find {
  display: inline-block;
  width: 40px;
  height: 32px;
  line-height: 32px;
  font-size: 20px;
  background: #e1251b;
  position: absolute;

}

.find .btn {
  color: #ddd;
}

.car {
  border: 1px solid #e3e4e5;
  width: 132px;
  height: 36px;
  line-height: 36px;
  color: #e1251b;
  text-align: center;
  font-size: 12px;
}

.code img {
  width: 76px;
  height: 76px;

  padding-right: 80px;


}

.item {
  width: 1190px;
  margin: 0 auto;
}

.item-list {

  width: 1190px;
  /* padding-left: 150px; */


  display: flex;
  justify-content: center;

}

.item-list li>a {

  height: 40px;
  line-height: 40px;
  color: #333;
  font-size: 15px;
  margin: 0 11px;

}
.item-list li>a:hover{
  color: #e1251b;
}

section {
  width: 100vw;
  /* background: pink; */

}


.conter {
  width: 1190px;
  height: 480px;

  /* position: relative; */
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  /* background: pink; */
}

.menu {
  width: 190px;
  height: 470px;
  background-color: #fefefefe;
  /* position: absolute; */
  margin-right: 5px;
  border: 1px solid #ddd;
  /* margin-left: 5px; */
}

.menu li {
  /* overflow: hidden; */
  list-style: none;
  margin-top: 9px;
  background-color: #fefefefe;
  color: #333;
  font-size: 14px;
  margin-left: 10px;
}

.bigSeeded {
  width: 590px;
  height: 470px;
  background: lemonchiffon;
  margin-right: 5px;
  /* position: relative; */
  position: relative;
}

.swiper{
  position: absolute;
  width: 590px;
  height: 470px;

}
.swiper-wrapper{
  width: 590px;
  height: 470px;
}


.swiper-slide{
  width: 590px;
  height: 470px;
}
.swiper .swiper-slide img {
  /* position: absolute; */
  width: 100%;
  height: 100%;
}
.swiper-button-prev{
  
  width: 18px ;
  height: 18px;
 
  background-color: rgba(0,0,0,.15);
  margin-top:-20px;
  font-size: 20px;

}
.swiper-button-next{
   
  width: 18px ;
  height: 18px;
 
  background-color: rgba(0,0,0,.15);
  margin-top:-20px;
  font-size: 20px;
}
.seeded {
  width: 190px;
  /* background: lawngreen; */
  margin-right: 5px;


}

.seeded img {
  width: 190px;
  height: 150px;
  margin-top: 5px;


}

.navigation {
  width: 190px;
  height: 480px;
  /* background: lightcoral; */
 

}

.landing {
  width: 190px;
  height: 102px;
  position: relative;
 }


.landing img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 5px;
 
}
.landing .show{
  position: absolute;
  top: 16px;
  left: 74px;
  right: 10px;
  font-size: 12px;
  color: #666;
 
}
.landing .new{
  margin-top: 10px;
  height: 25px;
  /* font-size: 0; */
  text-align: center;
}
.landing .new :first-child{
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;
  color: #fff;
  border-radius: 13px;
  background: #e1251b;
  
}
.landing .new :last-child{
  background: #363634;
  color: #e5d790;
  display: inline-block;
  margin: 0 5px;
  width: 70px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  text-align: center;

  border-radius: 13px;
}
.line{
  width: 160px;
  height: 1px;
  top:20px;
  margin-left: 15px;
  right: 15px;
  background:#eeee;
}
.news{
  width: 190px;
  height: 130px;
  margin: 0 15px;
}
.news-list1 h5{
  height: 20px;
  display: inline-block;
  font-size: 14px;
  margin-left: 15px;
 color: #333;
 font-weight: bold;
  
}
.news-list1 a{
  height: 20px;
  right: 15px;
  margin-left: 60px;
  top: 12px;
  font-size: 12px;
  color: #999;
}
.news-list2 li a>span{
  display: inline-block;
  font-size: 12px;
  height: 16px;
  width: 35px;
  line-height: 16px;
  text-align: center;
  vertical-align:center;
  color: #e1251b;
  background-color: rgba(225,37, 27, .08);
  margin-right: 6px;
}
.news-list2 li a:hover{
 color: #e1251b;
}
.news-list2 li a{
  display: inline-block;
  max-width: 160px;
  height: 16px;
  line-height: 16px;
  color: #9999;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
 
}
.service{
  width: 190px;
  height: 240px;
  padding: 5px 0.5px;
  /* background: #fff; */
}
.service .service-list{
  padding-top: 5px;
 
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
 }
.service .service-list li{
width: 63px;
height: 55px;
}
.service .service-list img{
 
  width: 28px;
  height: 28px;
  text-align: center;
 }
.service .service-list span{
  display: block;
  height: 25px;
  line-height: 25px;
  color:#333;
}

.stopwatch{
  width: 1190px;
  height: 240px;
  background:#FFFF;
  margin: 0 auto;
  margin-top: 1px;
  display: flex;
}
.stopwatch-left{
  width: 190px;
  height: 100%;
  color: #fff;
  background-color: #e83632;
  background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.1/assets/img/4a15d8883775742e3efbb850ae14def7.png);
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
}
.stopwatch-left span{
  width: 100%;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: 700px;
  /* padding-top: 31px; */
  

}
.stopwatch-left a{
  display: block;
  margin-top: 100px;
  font-size: 14px;
  text-align: center;
}
.stopwatch-left .clock{
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  display: block;
  text-align: center;
  margin-top: 20px;
  

 

}
.stopwatch-left .clock>span{
 
  float: left;
  width: 30px;
  height: 30px;
  background-color: #2f3430;
  color: white;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-left: 10px;
  
  
}
.time::after{
  content: ":";
  display: block;
  position: absolute;
  right: -16px; 
   font-weight:bolder;
  font-size: 18px;
  width: 20px;
  height: 100%;
  top: 0px;
/* background-color: pink; */

}
.stopwatch-middle{
  width: 800px;
  height: 260px;
  display: flex;
  margin-top: 10px;
  margin-left: 10px;
}
.stopwatch-middle img {
margin: 0 auto;
width: 140px;
height: 140px;
line-height: 140px;
text-align:center ;
/* margin-left: 50px; */
/* display: flex;  */

margin-left: 30px;

}
.stopwatch-middle span{
  display: block;
  text-align: center;
 
}
.stopwatch-middle span:first-of-type{
  /* display: block; */
   width: 160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
  font-size:12px;
  font-weight: 400px;
  color: #3333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: 30px;
}
.stopwatch-middle span:first-of-type:hover{
  color: #e1251b;
}
.stopwatch-middle span:nth-of-type(2){
  box-sizing: border-box;
  text-align: center;
  width: 66px;
  color: #e1251b;
  font-size: 12px;
  font-weight: 700px;
  height: 22px;
  line-height: 22px;
  margin: 0 auto;
}
.stopwatch-right{
  width: 200px;
  height: 240px;
  /* margin-top: 10px; */
  background: linear-gradient(180deg,rgba(255,255,255,.5),rgba(220,224,236,.5));

}
.stopwatch-right img{
  width: 120px;
  height: 120px;
  text-align: center;
  margin: 0 auto;
  margin-left: 31px;

}
.stopwatch-right p{
  text-align: center;
}

.stopwatch-right p:first-of-type{
  width: 180px;
  height: 21px;
  color: #666;
  font-size: 14px;
}
.stopwatch-right p:nth-of-type(2){
  width: 180px;
  height: 21px;
  color: #333;
  font-weight: 700;
  font-size: 14px;
}
.stopwatch-right p:nth-of-type(3){
  color: #e1251b;
  border-radius: 14px;
  width: 82px;
  height: 24px;
  line-height: 22px;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  padding-left: 4px;
  font-size: 12px;
  margin-top: 14px;
  border: 1px solid #e1251b;
  margin-left: 50px;
}

.right-fixation{
  position: fixed;
  right: 50px;
  bottom: 50px;
  background: #fff;
  border: 1px solid #ddd;
  text-align: center;
  }
  .right-fixation ul>li{
    width: 58px;
    height: 60px;
    margin-top: 5px;
    

  }
  .right-fixation ul>li>span{
    display: block;
    width: 28px;
    height: 37px;
    font-size: 14px;
    text-align: center;
    line-height: 19px;
    margin: 0 auto;
   

   
  }
  .right-fixation ul>li:hover{
    color: #e1251b;
  }
  .salePrice{
    width: 1190px;
    height: 340px;
    /* background:pink; */
    margin: 0 auto;
    margin-top: 5px;
    display: flex;
  }
  .salePrice-left{
    width: 590px;
    height: 340px;
    margin-right: 5px;
  }
  
  .salePrice-leftTop{
    width: 590px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

  }
  .salePrice-leftTop>h3{
    width: 96px;
    height: 32px;
   line-height: 32px;
   color: #333;
   font-size: 24px;
   margin-left: 10px;
   margin-top: 20px;

  }
  .salePrice-leftTop>a{
    display: block;
    width: 28px;
    height: 21px;
    line-height: 19px;
    color: #e1251b;
    margin-right: 5px;
    margin-top: 20px;
    font-size: 14px;

  }
  .salePrice-leftBottom{
  width: 560px;
  height: 270px;
  display: flex;

  


 
  } 
  .salePrice-leftBottom .bigBox{
    background-color:rgba(109,126,146,.05);
    width: 170px;
    height: 265px;
    margin-right: 6px;
    margin-left: 10px;
    
  }
  .salePrice-leftBottom .bigBox>img{
   
    width: 120px;
    height: 120px;
     margin-left: 25px;
     margin-top: 30px;
   
    
  }
  .salePrice-leftBottom .bigBox>p:first-of-type{
    width: 150px;
    height: 19px;
    margin: 9px 0 4px;
    color: #333;
    font-size: 14px;
    text-align: center;
    padding-bottom: 10px;
  }
  .salePrice-leftBottom .bigBox>p:last-of-type{
    color: #e1251b;
    text-align: center;
    font-size: 18px;
    font-weight: 700px;
  }
  .salePrice-leftBottom .minBox{
   
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .salePrice-leftBottom .minBox{
   
    width: 390px;
    /* display: flex; */
    /* justify-content: space-between; */
    
    margin-left: 30px;

  }
  .salePrice-leftBottom .minBox>li{
 
    width: 170px;
    height: 74px;
    display: flex;
  
   
  }
.salePrice-leftBottom .minBox li>img{
  width: 84px;
  height: 84px;

}

.salePrice-leftBottom .minBox li>p:first-of-type{
 width: 75px;
 height: 32px;
 color: #333;
 margin-right: 10px;

  
}
.salePrice-leftBottom .minBox li>p:nth-of-type(2){
  width: 75px;
  height: 21.67px;
  
  color: #e1251b;
 
}
.salePrice-right{
  width: 590px;
  height: 340px;
    /* display: flex; 
  justify-content: space-between;  
   position: relative;  */
  

 

}
.salePrice-rightTop{
  width: 590px;
  height: 60px;
  margin-bottom: 5px;

}
.salePrice-right h3{
  width: 96px;
  height: 32px;
  font-size: 24px;
  color: #333;
  line-height: 32px;
  font-weight: 700px;
  padding: 0 20px;
  padding-top: 20px;
 
}
.salePrice-right1{
  width: 590px;
  height: 265px;
  display: flex;
}
.salePrice-rightBottom{
  width: 270px;
  height: 265px;
  margin-right: 2px;
  background:linear-gradient(180deg,rgba(161,215,152,.05),rgba(31,102,26,.05));
  
  

}
.brand img:first-of-type{
  width: 70px;
  height: 35px;
  display: block;
  margin:15px auto 0;
  padding-top: 5px;
}
.brand img:nth-of-type(2){
  width: 130px;
  height: 130px;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  

}
.brand h6{
  color: #333;
  font-weight: 700px;
  font-size: 16px;
  margin-top: 6px;
  text-align: center;
}
.brand p{
  text-align: center;
  font-size: 12px;
  color: #666;
  margin-top: 5px;
}

.brand-logo{
  width: 270px;
  height: 314px;

}
.salePrice-right2{
  
  width: 300px;
  height: 314px;
  /* display: flex;
 */
 text-align: center;

}
.salePrice-right2>li{
  display: inline-block;
  text-align: center;
  width: 130px;
  height: 100px;
  margin-right: 5px;
  /* display: flex;
  /* justify-content: space-between; */
 flex-wrap: wrap; 
  
 

 

}



.salePrice-right2 img{
  display:block;
  width: 100px;
  height: 50px;
 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* text-align: center; */

  
}
.salePrice-right2 p{
  text-align: center;
  color: #6666;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400px;
  height: 135px;
  height: 18px;
  line-height: 18px;
  margin-right:19px
}



  .live{
    width: 1190px;
  height: 260px;
  /* background:pink; */
  margin: 0 auto;
  margin-top: 1px;
  display: flex;
  }
  .live-left{
     width: 190px;
     height: 260px;
     background-image: url(https://misc.360buyimg.com/mtd/pc/index_2019/1.0.1/assets/img/4dca746078b49c72a9877d2998d0abc8.png);
     background-color: #eeee;
     /* margin-left: 10px; */
  
     


  }
  .live-leftLogo{
    background-image: url(../img/33.png);
    width: 160px;
    height: 90px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    border-bottom-right-radius:20px;
    
    
  }
  .live-leftLogo p{
    width: 160px;
    height: 89px;
    color: rgba(255,255,255,.8);
    font-size: 16px;
    padding-top: 55px;
    padding-left: 20px;
    padding-bottom: 10px;
  }
  .live-right{
    width: 990px;
    height: 260px;
   margin-left: 30px;

   
  }
  .live-rightItem{
    width: 990px;
    height: 260px;
    display: flex;
    /* justify-content: space-between; */
   
  }
  .live-rightItem img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
  }
  .live-rightItem p{
    text-align: center;
    color: #666;
  }
  .live-rightItem p:last-child{
    text-align: center;
    color:#e1251b;
    font-size: 12px;
    font-weight: 700;
  }
 .footer{
  width: 100vw;
  margin:  0 auto;
  text-align: center;
  
 }
 .footerList{
  width: 1477.33px;
  height:103px;
   padding: 30px 0;
  /* background: pink; */
  border-bottom: 1px solid #666;
  margin: 0 auto;
 }
 .footerList-logo{
  width: 1190px;
  margin: 0 auto;
 }
 .footerList-logoItem{
  width: 1190px;
  height: 42px;
  display: flex;
  /* justify-content: space-between; */
 }
 .footerList-logoItem li{
  display: flex;
  margin: 0 auto;
  padding-left: 45px;
  /* width: 180px; */
  
 }
 .footerList-logoItem h5{
  
  width: 36px;
  height: 42px;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  margin-right: 10px;

 
 }
 .footerList-logoItem .item1{
  background-image: url("../img/54.png");
  
  background-size: 115px 86.5px;
    background-position: 0 0;
    background-repeat: no-repeat;

    
 
}
.footerList-logoItem .item2{
  background-image: url("../img/54.png");

  background-size: 114px 86.5px;
    background-position: -38.5px 0;
    
  
}
 
.footerList-logoItem .item3{
  background-image: url("../img/54.png");
  
  background-size: 114px 86.5px;
    background-position: -77px 0;
 
}
.footerList-logoItem .item4{
  background-image: url("../img/54.png");
 
  background-size: 114px 86.5px;
    background-position: 0px -44.5px;
 
}
.footerList-logoItem p{
  width: 180px;
height: 42px;
line-height: 42px;
font-size: 18px;
font-weight: 700;
color: #444;
}
.pay{
  width: 1477.33px;
  height: 160px;
  padding: 20px 0;
  margin: 0 auto;
  /* background:pink; */
}
.pay-inner{
  width:1190px ;
  height: 160px;
  display: flex;
  margin: 0 auto;
}
.pay-inner1{
  width: 198px;
  height: 159px;
  line-height: 22px;
}
.pay-inner1 h5{
  width: 198px;
  height: 22px;
  color: #666;
  margin-bottom: 5px;
  font-size: 14px;
}

.pay-inner1 li{
  width: 198px;
  height: 22px;
  color: #666;
  line-height: 22px;
}
.pay-inner2{
  width: 198px;
  height: 137px;
  line-height: 22px;
}
.pay-inner2 h5{
  width: 198px;
  height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;
}
.pay-inner2 li{
  width: 198px;
  height: 22px;
  color: #666;
  line-height: 22px;

}
.pay-inner3{
  width: 198px;
  height: 115px;
  line-height: 22px;


}
.pay-inner3 h5{
  width: 198px;
  height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;

}
.pay-inner3 li{
  width: 198px;
  height: 22px;
  color: #666;
  line-height: 22px;

}
.pay-inner4{
  width: 198px;
  height: 159px;
  line-height: 22px;
}
.pay-inner4 h5{
  width: 198px;
  height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;

}
.pay-inner4 li{
  width: 198px;
  height: 22px;
  color: #666;
  line-height: 22px;

}
.pay-inner5{
  width: 198px;
  height: 159px;
  line-height: 22px;
 
}
.pay-inner5 h5{
  width: 198px;
  height: 22px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #666;}

  .pay-inner5 li{
    width: 198px;
    height: 22px;
    color: #666;
    line-height: 22px;
  
  }
  .pay-inner6{
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: 0 0;
  }
  .pay-inner6 h5{
    width: 200px;
    height: 21px;
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
    color: #666;
  }
  .pay-inner6 p{
    
    width: 180px;
    height: 54px;
    color: #666;
    text-align: center;
  }
  .pay-inner6 a:hover{
    color: #e1251b;

  }
  .pay-inner6 a{
    width: 63.55px;
    height: 16px;
    color: #666;
    margin-left: 90px;
  }
  .base{
    width: 1477.33px;
    height: 265.667px;
    margin: 0 auto;
    /* background-color: pink; */
  }
  .base-inner{
    width: 1190px;
    height: 234.667px;
    padding: 15px 0;
    border-top: 1px solid #666;
    margin: 0 auto;
  }
  .ourselves{
    width: 1190px;
    height: 18px;
    color: #666;
  }
  .ourselves a{
    color: #666;
    text-align: center;
  }
  .ourselves a:hover{
    color: #e1251b;
  }
  .ourselves span{
    margin: 0 7px;
    color: #ccc;
  }
  .base-info{
    width: 1190px;
    height: 66px;
    padding: 10px 0;
    line-height: 22px;
    color: #999;
    margin: 0 auto;
    text-align: center;
   

  }
  .base-info .police{
    width: 1190px;
    height: 18px;
    text-align: center;
   
  }
  
  .base-info a{
    color: #999;
  }
  .base-info a:hover{
    color: #e1251b;
  }
  .base-info span{
   margin: 0 10px;
   color: #ccc;
  }
  .base-inter{
    width: 1190px;
    height: 22px;
    line-height: 22px;
    color: #999;
    text-align: center;
  }
  .base-inter span{
    margin: 0 7px;
    color: #ccc;
  }
  .base-inter a{
    width: 90.47px;
    height: 16px;
    color: #999;
    /* padding-left:20px; */
  }
  .base-inter p a i{
    width: 15px;
    height: 14px;
    margin-top: -1px;
    display: inline-block;
    text-align: center;


  }
  .base-inter1{
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
    background-position: -38.5px -44.5px;
    background-image: url(../img/44.png);

  }
  .base-inter2{
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
    background-position: -56px -44.5px;
    background-image: url(../img/44.png);

  }
  .base-inter3{
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
    background-position: -73.5px -44.5px;
    background-image: url(../img/44.png);

  }
  .base-inter4{
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
    background-position: -38.5px -59px;
    background-image: url(../img/44.png);

  }
  .base-inter5{
    background-repeat: no-repeat;
    background-size: 113px 86.5px;
    background-position: -91px -44.5px;
    background-image: url(../img/44.png);

  }
  .flagship{
    width: 1190px;
    height: 22px;
    line-height: 22px;
    color: #999;
    text-align: center;
  }
  .flagship a{
    color: #9999;
  }
  .flagship-line{
    margin: 0 7px;
    color:#ccc;
    line-height: 22px;
  }
  .bottomIcon{
    width: 1190px;
    height: 36.667px;
    margin: 25px 0;
    text-align: center;
  }
  .bottomIcon a{
    width: 103px;
    height: 32px;
    margin: 0 3px;
    display: inline-block;
    /* overflow: hidden; */
    line-height: 32px;
  }
  .bottomIcon1{

    background-repeat: no-repeat;
    background-position: -205px -111px;
    background-image: url(../img/45.png);
  }
 
  .bottomIcon2{

    background-repeat: no-repeat;
    background-position: -205px -74px;
    background-image: url(../img/45.png);
  }

.bottomIcon3{

  background-repeat: no-repeat;
  background-position: -205px -37px;
  background-image: url(../img/45.png);
}
.bottomIcon4{

  background-repeat: no-repeat;
  background-position: 0 -66px;
  background-image: url(../img/46.png);
}
.bottomIcon5{

  background-repeat: no-repeat;
  background-position: 0 -155px;
  background-image: url(../img/45.png);
}
.bottomIcon6{

  background-repeat: no-repeat;
  background-position: 0 -99px;
  background-image: url(../img/46.png);
}
.bottomIcon7{
 width: 70px;
 height: 32px;
  background-repeat: no-repeat;
  background-position: -104px -99px;
  background-image: url(../img/46.png);
}
.bottomIcon8{
  width: 88px;
  height: 32px;
  background-repeat: no-repeat;
  background-position: -104px -131px;
  background-image: url(../img/46.png);
}



 
 

